<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Lista de personas</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Horas</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody th:each="curso: ${cursos}">
            <tr>
                <th th:text="${curso.id}"></th>
                <th th:text="${curso.descripcion}"></th>
                <th th:text="${curso.horas}"></th>
                <th th:text="${curso.nombre}"></th>
                <th th:text="${curso.precio}"></th>
            </tr>
        </tbody>
    </table>


    <form action="#" th:action="@{/cursos/addcurso}" th:object="${curso}" method="post">
        <!-- El action del formulario lo ignora y pone un action del thyleaft el cual dice que mandara la informacion a ese link, el siguietne dice que trae el objeto
        objetoPersonMandar para minalmente usar un meoto post el cual significa obtener informacion. objetoPersonMandar es sobre escrito con los atributos de abajo y es mandado
        al link que tenemos en th:action-->
            <p>Descripcion <Input type="text" th:field="*{descripcion}"/></p>
            <p>Horas <Input type="number" th:field="*{horas}"/></p>
            <p>Nombre <Input type="text" th:field="*{nombre}"/></p>
            <p>Precio <Input type="number" th:field="*{precio}"/></p>
            <p><Input type="submit" value="submit"/></p>
            <!-- Finalmente el boton trae un tipo submite el cual al darle click se manda al link que se especifico arriba. -->
    </form>

    <h1>DELET A CURSE WITH THE ID</h1>
    <form action="#" th:action="@{/cursos/deletecurso}" th:object="${curso}" method="post">
        <!-- El action del formulario lo ignora y pone un action del thyleaft el cual dice que mandara la informacion a ese link, el siguietne dice que trae el objeto
        objetoPersonMandar para minalmente usar un meoto post el cual significa obtener informacion. objetoPersonMandar es sobre escrito con los atributos de abajo y es mandado
        al link que tenemos en th:action-->
            <p>ID <Input type="number" th:field="*{id}"/></p>
            <p><Input type="submit" value="submit"/></p>
            <!-- Finalmente el boton trae un tipo submite el cual al darle click se manda al link que se especifico arriba. -->
    </form>

    <h1>Update A CURSE WITH THE ID</h1>
    <form action="#" th:action="@{/cursos/updatecurso}" th:object="${curso}" method="post">
        <!-- El action del formulario lo ignora y pone un action del thyleaft el cual dice que mandara la informacion a ese link, el siguietne dice que trae el objeto
        objetoPersonMandar para minalmente usar un meoto post el cual significa obtener informacion. objetoPersonMandar es sobre escrito con los atributos de abajo y es mandado
        al link que tenemos en th:action-->
            <p>ID <Input type="number" th:field="*{id}"/></p>
            <p>Descripcion <Input type="text" th:field="*{descripcion}"/></p>
            <p>Horas <Input type="number" th:field="*{horas}"/></p>
            <p>Nombre <Input type="text" th:field="*{nombre}"/></p>
            <p>Precio <Input type="number" th:field="*{precio}"/></p>
            <p><Input type="submit" value="submit"/></p>
            <!-- Finalmente el boton trae un tipo submite el cual al darle click se manda al link que se especifico arriba. -->
    </form>

</body>
</html>